// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 62.5%;
}
/* Less starts here*/

#head1{
  font-size: 100%;
  text-shadow: 3px 2px red;
  color: var(--main-bg-color);
  word-spacing: 10px;
  letter-spacing: 3px;
}
#paragraph{
  font-size: 130%;
  line-height: normal;
  color: @text-color;
}
#topnav{
  background-color: @background-color;
  width: 100%;
  color: blue;
}
#tHead{
  height: 10vh;
  width: 99vw;
  padding: 5px;
}
#stark{
  padding: 6% 20% 0% 0%;
  height: 10vh;
  border-radius: 100%;
}
#tony{
  text-shadow: 3px 2px red;
  font-size: 250%;
}
#ws{
  width: 100%;
  z-index: -1;
}
#section{
  display: flex;
  margin: 100px;
}
@text-color: black;
:root {
  --main-bg-color: rgb(199, 114, 4);  
}
p {
  #paragraph
}
a {
  #topnav
}
h1 {
  #head1
}
#topHeader {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  #tHead
}
#nav-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  #topnav
}
#logo {
  align-items: right;
  #stark
}
#profile {
  text-align: center;
  #tony
}
#symbol {
  position: absolute;
  #ws
}
#top-section {
  #section
}
.top1 {
  float: left;
  width: 700px;
  padding: 10px;
}
.top2 {
  position: absolute;
  right: 0px;
  width: 300px;
  margin: 15px;
  padding: 50px;
}
#bottom-section {
  #section
}
.bottom1 {
  float: left;
  width: 300px;
  padding: 10px;
}
.bottom2 {
  position: absolute;
  right: 0px;
  width: 300px;
  margin: 100px;
  padding: 20px;
}
footer {
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 5px;  
  bottom:0;
}

footer .footer-content { 
  margin: 0 auto; 
  width: 190px;
}
h2 {
  font-size: 140%;
}
footer .footer-content h2 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
  justify-content: space-around;
  
}
footer {
  margin: 20px;
  color: black;
  position: fixed;
  left:0px;
  bottom:0px;
  height:150px;
  width:100%;
}

footer nav :first-child {
  margin-left: 0;
}
footer a:hover {
  color: white;
}

footer .footer-content .copyright {
  padding: 20px 0;
  text-align: center;
}
.copywright {
  text-align: center;
  margin: 1%;
}
@media (max-width: 500px) {
 body {
  height: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaSSXjj0CnCptd9dlhyXIB6qKk16qhkHBUz7j5i8Q4IRnBalot9Q");
  
}
p {
  font-size: 100%;
  line-height: normal;
  color: black;
}
a {
  
  color: blue;
}
h1 {
  font-size: 200%;
  text-shadow: 3px 2px red;
  word-spacing: 10px;
  letter-spacing: 3px;
  color: rgb(177, 137, 137);
}
:root {
  --main-bg-color: rgb(199, 114, 4);  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: middle;
  flex-direction: column;
}
.topHeader {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 99vw;
  background-color: var(--main-bg-color);
  padding: 5px;  
}
.nav-item{
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: space-around;
}
.logo {
  
  align-items: center;
  height: 10vh;
  border-radius: 100%;
  padding: 0% 20% 0 0;
}
.profile {
  text-align: center;
  font-size: 250%;
}
.symbol {
  
  width: 100%;
  display: none;
  position: absolute;
}
 .top-section {
  display: flex;
  margin: 100px;
}
.top1 {
  float: left;
  width: 700px;
  padding: 10px;
}
.top2 {
  position: absolute;
  right: 0px;
  width: 300px;
  margin: 15px;
  padding: 50px;
}
.bottom-section {
  display: flex;
  margin: 100px;
}
.bottom1 {
  float: left;
  width: 300px;
  padding: 10px;
}
.bottom2 {
  position: absolute;
  right: 0px;
  width: 300px;
  margin: 100px;
  padding: 20px;
}
footer {
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 5px;  
  
}

footer .footer-content { 
  margin: 0 auto; 
  width: 190px;
}
h2 {
  font-size: 140%;
}
footer .footer-content h2 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: center;
}
footer {
  margin: 20px;
  color: black;
  
}
footer nav :first-child {
  margin-left: 0;
}
footer a:hover {
  color: white;
}
footer .footer-content .copyright {
  padding: 20px 0;
  text-align: center;
}
.copywright {
  text-align: center;
}